<div class="error">
    <h1 class="error__title">{{errorValue}}</h1>
    <p class="error__desc">{{errorDescription}}</p>
    {{> link linkClass="error__link" href="/src/components/pages/chats/chats.html" linkText="Назад к чатам"}}
</div>
