{{> main}}

<main class="center">
	<div class="auth">
		<form class="auth__form" action="">
			<h1 class="auth__title">Регистрация</h1>
			<div class="auth__fields">
				{{> input containinerClass="auth__field" inputClass="auth__input" inputType="text"
				inputName="email" labelValue="Почта"}} {{> input containinerClass="auth__field"
				inputClass="auth__input" inputType="text" inputName="login" labelValue="Логин"}} {{>
				input containinerClass="auth__field" inputClass="auth__input" inputType="text"
				inputName="first_name" labelValue="Имя"}} {{> input containinerClass="auth__field"
				inputClass="auth__input" inputType="text" inputName="second_name"
				labelValue="Фамилия"}} {{> input containinerClass="auth__field"
				inputClass="auth__input" inputType="tel" inputName="phone" labelValue="Телефон"}}
				{{> input containinerClass="auth__field" inputClass="auth__input"
				inputType="password" inputName="password" labelValue="Пароль"}} {{> input
				containinerClass="auth__field" inputClass="auth__input" inputType="password"
				inputName="password" labelValue="Пароль (ещё раз)"}}
			</div>
			<div class="auth__btns">
				{{> button btnClass="auth__btn" btnType="submit" btnText="Зарегистрироваться"}} {{>
				link linkClass="auth__link" href="../auth/auth.html" linkText="Войти"}}
			</div>
		</form>
	</div>
</main>
