$text-black: #1e1e1e;
$text-gray: #999999;
$text-red: #ff0000;
$blue: #3369f3;
$white: #ffffff;
$alert: #ff2f2f;
$dialogs-bg: #fbfbfb;
$dialogs-bg-fields: #efefef;
$line: #eaeaea;
$msg-bg: #f8f8f8;
$msg-my-bg: #e4edfd;
$shadow: rgba(0, 0, 0, 0.14);
