{{!< main}}

<div class="chats">
  <div class="chats__dialogs dialogs">
    <div class="dialogues__header">
      <a href="../profile/profile.hbs" class="dialogues__link">Профиль</a>
      <div class="dialogs__search">
        <input class="dialogs__search--input" type="search" name="search" placeholder="Поиск" required>
        <label class="dialogs__search--label"><img src="../../../static/img/search-loop.svg" alt="Search loop"></label>
      </div>
    </div>
    {{> dialogue dialogAvatar="../../../static/img/avatar-default.svg" dialogueName="Андрей" dialogueTextYou="" dialogueText="Изображение" dialogueTime="10:49" dialogueMsg="2"}}
    {{> dialogue dialogAvatar="../../../static/img/avatar-default.svg" dialogueName="Вадим" dialogueTextYou="" dialogueText="Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну." dialogueTime="12:00" dialogueMsg="1"}}
  </div>
  <div class="chats__history">
    <div class="chats__header">
      <div class="dialog__photo">
        <img src="../../../static/img/avatar-default.svg" alt="Avatar" />
      </div>
      <div class="dialog__name">Вадим</div>
      <button class="chats__action-btn" type="button">
        <img src="../../../static/img/dots-action.svg" alt="Dots action">
      </button>
    </div>
    <div class="chats__msgs messages">
      <time class="msgs__date">19 июня</time>
      <div class="msgs__text msgs__text--in">Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
        
      Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</div>
      <div class="msgs__photo">
        <img src="../../../static/img/msgs-img.jpg" alt="photo">
      </div>
      <div class="msgs__text msgs__text--out">Круто!</div>
    </div>
    <div class="chats__footer">
      <form class="chats__form" action="">
        <button class="chats__attach-btn" type="button">
          <img src="../../../static/img/attach-btn.svg" alt="Attach button">
        </button>
        <input class="chats__input" type="text" name="message" placeholder="Сообщение">
        <button class="chats__submit-btn" type="submit">
          <img src="../../../static/img/arrow-submit.svg" alt="Arrow submit">
        </button>
      </form>
    </div>
  </div>
</div>
