{{!< main}}


<a class="link-back" href="../profile/profile.hbs">
  <img src="../../../static/img/arrow-back.svg" alt="Arrow back">
</a>
  
<div class="center">
  <form class="profile" action="">
    <div class="profile__avatar">
      <img src="../../../static/img/avatar-default.svg" alt="Avatar">
    </div>
    <div class="profile__fields">
     {{> input-profile labelValue="Старый пароль" inputType="password" inputName="oldPassword" inputValue="•••••••••"}}
     {{> input-profile labelValue="Новый пароль" inputType="password" inputName="newPassword" inputValue="•••••••••••"}}
     {{> input-profile labelValue="Повторите новый пароль" inputType="password" inputName="newPassword" inputValue="•••••••••••"}}
    </div>
    {{> button buttonType="submit" buttonText="Сохранить"}}
  </form>
</div>
