.input {
    width: 100%;
    padding: 7px 0;
    margin-bottom: 25px;
    border-bottom: 1px solid $blue;
    &:focus + .input__label,
    &:valid + .input__label {
      top: -17px;
      font-size: 9px;
      line-height: 9px;
    }
    &__label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 7px 0;
      color: $text-gray;
      pointer-events: none;
      transition: 0.3s;
    }
  }
