@import "../../../styles/variables.scss";

.profile {
  display: flex;
  flex-direction: column;
  width: 510px;
  align-items: center;
  &__avatar {
    margin-bottom: 21px;
  }
  &__name {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
  }
  &__fields {
    width: 100%;
    margin-bottom: 60px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: start;
    width: 100%;
  }
  &__link {
    width: 100%;
    padding: 10px 0;
    & + & {
      border-top: 1px solid $line;
    }
    &--exit {
      color: $text-red;
    }
  }
}

.link-back {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 100%;
  border-right: 1px solid $line;
  background-color: $dialogs-bg;
}
