@import "../../../styles/variables.scss";

.profile {
  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    & + & {
      border-top: 1px solid $line;
    }
  }
  &__input {
    width: 100%;
    text-align: right;
    color: $text-gray;
    &-label {
      min-width: 180px;
    }
  }
}
