@import "../../../styles/variables.scss";

.dialog {
  display: flex;
  padding: 12px 0;
  border-bottom: 1px solid $line;
  cursor: pointer;
  &__photo {
    flex-shrink: 0;
    width: 47px;
    height: 47px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $dialogs-bg-fields;
    & img {
      max-width: 100%;
      height: auto;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-right: 17px;
  }
  &__name {
    font-weight: 600;
    margin-bottom: 4px;
  }
  &__text {
    max-height: 30px;
    font-size: 12px;
    line-height: 15px;
    color: $text-gray;
    overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 2;
	  -webkit-box-orient: vertical;
    &--you {
      color: $text-black;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
  }
  &__time {
    font-size: 9px;
    line-height: 13px;
    color: $text-gray;
  }
  &__msg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $blue;
    font-size: 11px;
    line-height: 20px;
    color: $white;
    text-align: center;
  }
}
